.project__container {
    .project__heading {
        font-family: 'Space Grotesk';
        font-weight: 700;
        font-size: 64px;
        line-height: 152.7%;
        color: #FFFFFF;
        margin-bottom: 24px;
        margin-left: 80px;
    }
    .project__text {
        font-family: 'Space Grotesk';
        font-weight: 400;
        font-size: 24px;
        line-height: 152.7%;
        color: #F9FAFB;
        margin-bottom: 64px;
        margin-left: 80px;
    }
    
    .project__list {
        margin-bottom: 100px;
        .project__item {
            display: flex;
            margin-bottom: 50px;
            align-items: center;
            justify-content: space-evenly;
            .project__item-left {
                width: 500px;
                .project__inner-heading {
                    font-family: 'Space Grotesk';
                    font-weight: 700;
                    font-size: 40px;
                    line-height: 152.7%;
                    color: #FFFFFF;
                    margin-bottom: 24px;
                }
                .project__inner-text {
                    font-family: 'Space Grotesk';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 160%;
                    text-align: justify;
                    color: #F9FAFB;
                    margin-bottom: 56px;
                }
                
                .project__btn {
                    padding: 13px 58px;
                    background: #188AEC;
                    border-radius: 8px;
                    font-family: 'Space Grotesk';
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 152.7%;
                    color: #F9FAFB;
                    border: none;
                    transition: all 0.3s ease;
                }
                
                .project__btn:hover {
                    opacity: 0.8;
                    transition: 0.3s ease;
                    transform: scale(1.1);
                }
                
                .project__btn:active {
                    opacity: 0.5;
                }
            }
            
            .project__item-right {
                .project__item-img {
                    width: 450px;
                    height: 348px;
                    object-fit: contain;
                    box-shadow: -24px 24px 64px #111827;
                }
            }
        }
        
        .project__item:nth-child(2n){
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-bottom: 50px;
        }
    }
}